<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link rel="stylesheet" href="{% static 'myapp/main.css' %}">
</head>
<body>
    <h1>Hello, World!</h1>
    <img src="{% static 'myapp/bridge-image.png' %}" alt="Bridge Image">
    <script src="{% static 'myapp/app.js' %}"></script>
    <script src="{% static 'myapp/User.js' %}"></script>
</body>
</html>
